*,*:before,*:after{
  box-sizing: border-box;
  margin:0;
}
html,body {
  position:relative;
  height: 100%;
  width: 100%;
}
body {
  padding:3em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: url(../images/background.webp);
}
#PacMan {
  width: 70px;
  position:absolute;
  top:0;
  left:0;
}
.container {
  max-width:500px;
  background: #18202d;
  border:4px solid #7575ff;
  padding:10px;
}
.container, .game-area {
  height: 100%;
  width: 100%;
  position:relative;
}
.controls {
  margin: 1em;
  width: 30%;
  min-width: 200px;
  max-width:300px;
  text-align:center;
  background-color: #ffe116;
  border-radius: 50%;
  border:3px solid #d80043;
}
.controls img {
  width: 23.3%;
  cursor:pointer;
}
.controls .controls-middle img:first-child {
  margin-right:2em;
}
.controls .controls-middle img:last-child {
  margin-left:2em;
}
